@using SchoolProject.Utilities;
@model PagedResult<SchoolProject.ViewModels.GradeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddGrade">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelLisst => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelList => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {/*id=item.PrimaryKey*/}) |
                    @Html.ActionLink("Details", "Details", new {/*id=item.PrimaryKey*/}) |
                    @Html.ActionLink("Delete", "Delete", new {/*id=item.PrimaryKey*/})
                </td>
            </tr>
        }
    </tbody>
</table>

